* {
  box-sizing: border-box;
}
body {
  font-family: "helvetica", sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
}
.hero {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
  color: white;
  text-align: center;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
.hero h1 {
  font-size: 70px;
}
.supporting {
  text-align: center;
}
.supporting p {
  font-size: 14px;
}
.btn-nav {
  font-size: 18px;
  color: white;
}
.supporting-item h2 {
  font-size: 32px;
}
.supporting-item h3 {
  font-size: 23px;
}
