* {
  box-sizing: border-box;
}
body {
  font-family: "helvetica", sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
}
.hero {
  color: white;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
